<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Job Forest</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/chartist.css">
	<link rel="stylesheet" href="css/scrollbar.css">
	<link rel="stylesheet" href="css/chosen.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/dashboard.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/transitions.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/dbresponsive.css">
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body class="jf-userlogin">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class='loader'></div>
	</div>
	<!--************************************
			Preloader End
	*************************************-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="jf-wrapper" class="jf-wrapper">
		<!--************************************
				Header Start
		*************************************-->
		<header id="jf-dashboardheader" class="jf-dashboardheader jf-haslayout">
			<div class="jf-rightarea">
				
				<div class="jf-userlogedin">
					<figure class="jf-userimg">
						<img src="images/usrer-img-01.jpg" alt="image description">
					</figure>
					
					<nav class="jf-usernav">
						<ul>
							<li><a href="dashboard-myprofile.html"><i class="ti-briefcase"></i><span>My Profile</span></a></li>
							<li><a href="dashboard-resume.html"><i class="ti-file"></i><span>My Resume</span></a></li>
							<li><a href="dashboard-cv-manager.html"><i class="ti-package"></i><span>CV Manager</span></a></li>
							<li><a href="dashboard-jobalerts.html"><i class="ti-announcement"></i><span>Job Alerts</span></a></li>
							<li><a href="dashboard-appliedjobs.html"><i class="ti-bookmark"></i><span>Applied Jobs</span></a></li>
							<li><a href="dashboard-favouritejobs.html"><i class="ti-heart"></i><span>Favourite Jobs</span></a></li>
							<li class="jf-profilenoti ">
								<a href="dashboard-shortlisted.html">
									<i class="ti-package"></i>
									<span>Shortlisted Resume</span>
								</a>
							</li>							
							<li class="jf-profilenoti ">
								<a href="dashboard-qus-ans.html">
									<i class="ti-announcement"></i>
									<span>Questions &amp; Anwsers</span>
								</a>
							</li>							
							<li>
								<a href="dashboard-postajob.html">
									<i class="ti-bookmark"></i>
									<span>Post A New Job</span>
								</a>
							</li>
							<li>
								<a href="dashboard-companyprofile.html">
									<i class="ti-briefcase"></i>
									<span>Compony Profile</span>
								</a>
							</li>														
							<li>
								<a href="dashboard-managejobs.html">
									<i class="ti-file"></i>
									<span>Manage Jobs</span>
								</a>
							</li>														
							<li>
								<a href="dashboard-favouritejobs.html">
									<i class="ti-heart"></i>
									<span>Favourite Jobs</span>
								</a>
							</li>
							<li class="menu-item-has-children page_item_has_children">
								<a href="javascript:void(0);"><i class="ti-money"></i><span>Packages</span></a>
								<ul class="sub-menu children">
									<li><a href="dashboard-packages.html"><i class="ti-money"></i><span>Packages</span></a></li>
									<li><a href="dashboard-invoices.html"><i class="ti-layers-alt"></i><span>Invoices</span></a></li>
								</ul>
							</li>
							<li><a href="javascript:void(0);"><i class="ti-anchor"></i><span>Privacy Setting</span></a></li>
							<li class="menu-item-has-children page_item_has_children">
								<a href="javascript:void(0);"><i class="ti-alert"></i><span>Security Settings</span></a>
								<ul class="sub-menu children">
									<li><a href="dashboard-packages.html">Packages</a></li>
									<li><a href="dashboard-invoices.html">Invoices</a></li>
								</ul>
							</li>
							<li><a href="dashboard-reportissue.html"><i class="ti-unlink"></i><span>Report Issue</span></a></li>
							<li><a href="signin.html"><i class="ti-shift-right"></i><span>Logout</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!---->
			<div class="jf-filtertype">
				<a class="jf-advancedlink" href="javascript:void(0)"><i class="lnr lnr-magnifier"></i></a>
				<!---->
			</div>
			<div id="jf-sidebarwrapper" class="jf-sidebarwrapper">
				<a id="jf-btnmenutoggle" href="javascript:void(0);" class="jf-btnmenutoggle"><i class="lnr lnr-menu"></i></a>
				<div class="jf-verticalscrollbar">
					<div class="jf-logoarea">
						<a class="jf-logoicon" href="index-2.html"><img src="images/logo-icon.png" alt="imagedescription" class="mCS_img_loaded"></a>
						<strong class="jf-logo"><a href="index-2.html"><img src="images/logow.png" alt="image description" class="mCS_img_loaded"></a></strong>
					</div>
					<nav id="jf-dashboardnav" class="jf-dashboardnav">
						<ul>
							<li class="jf-insightesnoti jf-notificationicon">
								<a href="dashboard.html">
									<i class="ti-dashboard"></i>
									<span> Insights</span>
								</a>
							</li>
							<li class="jf-profilenoti jf-notificationicon">
								<a href="dashboard-myprofile.html">
									<i class="ti-briefcase"></i>
									<span>My Profile</span>
								</a>
							</li>
							<li class="jf-myresumenoti jf-notificationicon">
								<a href="dashboard-resume.html">
									<i class="ti-file"></i>
									<span>My Resume</span>
								</a>
							</li>
							<li>
								<a href="dashboard-cv-manager.html">
									<i class="ti-package"></i>
									<span>CV Manager</span>
								</a>
							</li>
							<li>
								<a href="dashboard-jobalerts.html">
									<i class="ti-announcement"></i>
									<span>Job Alerts</span>
								</a>
							</li>
							<li>
								<a href="dashboard-appliedjobs.html">
									<i class="ti-bookmark"></i>
									<span>Applied Jobs</span>
								</a>
							</li>
							<li class="jf-profilenoti jf-notificationicon">
								<a href="dashboard-shortlisted.html">
									<i class="ti-package"></i>
									<span>Shortlisted Resume</span>
								</a>
							</li>							
							<li class="jf-profilenoti jf-notificationicon">
								<a href="dashboard-qus-ans.html">
									<i class="ti-announcement"></i>
									<span>Questions &amp; Anwsers</span>
								</a>
							</li>							
							<li>
								<a href="dashboard-postajob.html">
									<i class="ti-bookmark"></i>
									<span>Post A New Job</span>
								</a>
							</li>
							<li>
								<a href="dashboard-companyprofile.html">
									<i class="ti-briefcase"></i>
									<span>Compony Profile</span>
								</a>
							</li>														
							<li>
								<a href="dashboard-managejobs.html">
									<i class="ti-file"></i>
									<span>Manage Jobs</span>
								</a>
							</li>														
							<li>
								<a href="dashboard-favouritejobs.html">
									<i class="ti-heart"></i>
									<span>Favourite Jobs</span>
								</a>
							</li>
							<li>
								<a href="dashboard-myfollowing.html">
									<i class="ti-flag-alt"></i>
									<span>My Followings</span>
								</a>
							</li>
							<li class="jf-packagesnoti jf-notificationicon menu-item-has-children page_item_has_children"><span class="jf-dropdowarrow"><i class="fa fa-angle-down"></i></span><span class="jf-dropdowarrow"><i class="fa fa-angle-down"></i></span>
								<a href="javascript:void(0);"><i class="ti-money"></i><span>Packages</span></a>
								<ul class="sub-menu children">
									<li><a href="dashboard-packages.html"><i class="ti-money"></i><span>Packages</span></a></li>
									<li><a href="dashboard-invoices.html"><i class="ti-layers-alt"></i><span>Invoices</span></a></li>
								</ul>
							</li>
							<li class="jf-active">
								<a href="dashboard-privacysetting.html">
									<i class="ti-anchor"></i>
									<span>Privacy Setting</span>
								</a>
							</li>
							<li>
								<a href="dashboard-securitysetting.html">
									<i class="ti-alert"></i>
									<span>Security Settings</span>
								</a>
							</li>
							<li class="jf-reportissuenoti jf-notificationicon">
								<a href="dashboard-reportissue.html">
									<i class="ti-unlink"></i>
									<span>Report Issue</span>
								</a>
							</li>
							<li class="jf-customnoti">
								<a href="dashboard-appliedjobs.html">
									<i class="ti-pencil-alt"></i>
									<span>Customize Pag</span>
									<em>New</em>
								</a>
							</li>							
						</ul>
					</nav>
					<div id="weather"></div>
				</div>
				<a class="jf-btnlogout" href="javascript:void(0);"><i class="ti-power-off"></i></a>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Dashboard Inner Banner Start
		*************************************-->
		<div id="jf-dashboardbanner" class="jf-dashboardbanner">
			<h1>Hurrah! You have made a Service!! </h1>
			
		</div>
		<!--************************************
				Dashboard Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="jf-main" class="jf-main jf-haslayout">
			
			<!--************************************
					Chart Statistics Start
			*************************************-->
			<div class="jf-dbsectionspace jf-haslayout">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12">
						<div class="jf-dashboardbox">
							<div class="jf-dashboardboxtitle jf-dashboardboxtitlevtwo" style="text-align: center;">
								<div class="jf-title">
									<h2 style="text-align: center;">Your Request has been Accepted </h2>
									<span>Service will be delivered in time</span>
								</div>
								
								
							</div>
							<div class="jf-accountinfo">
							<form th:action="@{/logIn}" th:object="${user}"class="jf-formtheme jf-formlogin" method="POST">
									<fieldset>
								<div class="form-group jf-btnsarea">
											<button type="submit" class="jf-btn jf-active btn-primary" id="showtoast">My profile</button>
										</div>
										</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Chart Statistics End
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
		
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<script src="js/vendor/jquery-3.3.1.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ3q6w3hiHe_MIbB1Jy31bGOwL8LYlwJw"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.basictable.min.js"></script>
	<script src="js/jquery.sortable.js"></script>
	<script src="js/jquery.collapse.js"></script>
	<script src="js/countdown.min.js"></script>
	<script src="js/circle-progress.js"></script>
	<script src="js/scrollbar.min.js"></script>
	<script src="js/chosen.jquery.js"></script>
	<script src="js/prettyPhoto.js"></script>
	<script src="js/chartist.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/gmap3.js"></script>
	<script src="js/main.js"></script>
</body>


</html>